{%- comment %}
    Author: BSS B2B Login

    DO NOT MODIFY. The contents of BSS B2B Login 
    will overwrite any changes in the next update.

    Updated at: Mon Apr 07 2025
{% endcomment -%}
<div style="display:none" class="bss-hpc-lock"></div> <style> li.grid__item:has(.bss-hpc-lock) { display: none; } li.collection-list__item:has(.bss-hpc-lock) { display: none; } li.collection__item:has(.bss-hpc-lock) { display: none; } </style> {{ hide_product | strip | replace: "true", "" }}