<div class="gallery-section">
  <div class="page-width">
    <div class="gallery-header">
      {% if section.settings.heading %}
        <h1>{{ section.settings.heading }}</h1>
      {% endif %}
      
      <div class="filter-by">

      </div>

    </div>
    <div class="gallery-body">
      {% for block in section.blocks %}
        <img src="{{ block.settings.image | img_url: 'master' }}" class="gallery-img">

      {% endfor %}
    </div>

  </div>
</div>

{% schema %}
  {
    "name": "Gallery",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "default": "Gallery",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "checkbox",
            "id": "shirts",
            "default": false,
            "label": "Shirts"
          },
          {
            "type": "checkbox",
            "id": "bottoms",
            "default": false,
            "label": "Bottoms"
          },
          {
            "type": "checkbox",
            "id": "outerwear",
            "default": false,
            "label": "Outerwear"
          },
          {
            "type": "checkbox",
            "id": "denim",
            "default": false,
            "label": "Denim"
          }
        ]
      }
      ],
    "presets": [
      {
        "name": "Gallery"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}