.list-menu__item {
    text-transform: uppercase;
    font-weight: bold;
}

.remove-text-decoration {
  text-decoration: none;
}

.copyright__content {
    text-transform: uppercase;
    font-weight: bold;
}

.footer__content-bottom {
  padding-top: 0 !important;
  padding-bottom: 14px;
  background-color:#000;
  color: #fff;
}

.footer__content-bottom-wrapper {
    align-items: center;
    justify-content: center;
}

.full-unstyled-link {
    text-transform: uppercase;
}

.price {
  color: currentColor;
  font-weight: bold;
  font-size: 1.4rem !important;
}