.list-menu__item {
    text-transform: uppercase;
}

.remove-text-decoration {
  text-decoration: none;
}

.copyright__content {
    text-transform: uppercase;
    font-weight: bold;
}

.footer__content-bottom {
  padding-top: 0 !important;
  padding-bottom: 14px;
  background-color:#000;
  color: #fff;
}

.footer__content-bottom-wrapper {
    align-items: center;
    justify-content: center;
}

.full-unstyled-link {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
}

.price {
  color: currentColor;
  font-weight: bold;
  font-size: 1rem !important;
}

.product__title>* {
  text-transform: uppercase;
  font-size: 1rem;
}

.drawer__heading {
    text-transform: uppercase;
    font-size: 2rem;
}

.cart-item__name {
    text-transform: uppercase;
}

.cart__empty-text {
    text-transform: uppercase;
    font-size: 1rem;
}

.slider-counter__link--numbers {
  font-size: 1rem;
}