.list-menu__item {
    text-transform: uppercase;
}

.remove-text-decoration {
  text-decoration: none;
}

.copyright__content {
    text-transform: uppercase;
    font-weight: bold;
}

.footer__content-bottom {
  padding-top: 0 !important;
  padding-bottom: 14px;
  background-color:#000;
  color: #fff;
}

.footer__content-bottom-wrapper {
    align-items: center;
    justify-content: center;
}

.full-unstyled-link {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
}

.price {
  color: currentColor;
  font-weight: bold;
  font-size: 1rem !important;
}

.product__title>* {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.drawer__heading {
    text-transform: uppercase;
    font-size: 2rem;
}

.cart-item__name {
    text-transform: uppercase;
}

.cart__empty-text {
    text-transform: uppercase;
    font-size: 1rem;
}

.slider-counter__link--numbers {
  font-size: 1rem;
}

.accordion__title {
  font-weight: normal !important;
  text-transform: uppercase;
}

.card__badge.top {
    margin-top: -8px;
}

.main-page-title {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.product__info-container>*+* {
  font-size: 1.3rem;
}

.product-form__input input[type=radio]+label {
  font-size: 1rem !important;
}

.newsletter-form-holder {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.customer>h1, .shopify-policy__title>h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
}